* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 800px;
    height: 100px;
    background-color: #ffff66;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 800px;
}

.sidebar {
    width: 200px;
    height: 400px;
    background-color: #7fffd4;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 5px;
}

main {
    flex: 1;
    height: 400px;
    background-color: #ffebcd;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    width: 800px;
    height: 60px;
    background-color: #d3d3d3;
}

table {
    border-collapse: collapse;
    border: 4px solid #333;
    background-color: #fff;
    margin: 0 auto;
}

th, td {
    border: 1px solid #333;
    padding: 3px 8px;
    font-size: 14px;
}

th {
    text-align: center;
    width: 120px;
}

.submit-container {
    width: 100%;
    text-align: right;
    margin-top: 10px;
    padding-right: 5px;
}